@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    position: relative;
    background-image: linear-gradient(88deg, #000000, #000000, transparent,transparent) ,url(../img/naruto-img.jpg);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 85.9vh;
    background-color: black;
}

.app{
    background-color: #313131;
    width: 40%;
    max-width: 600px;
    /* border-radius: 0px; */
    margin: 9% auto 0px 10px;
    padding: 20px;
    height: 65vh;
}

.app h1{
    font-size: 25px;
    color: #fff;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

button {
  background: #fff;
  border: none;
  padding: 10px 30px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  margin: 15px -7px;
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
  text-align: left;
}

span {
  display: inline-block;
  transform: skew(21deg);
}

button::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: rgb(255, 104, 4);;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

.hidebefore::before {
  display: none;
}

button:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}

.btn:hover:not([disabled]){
    background-color: #222;
    color: #fff;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background-color: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct{
    background-color: rgb(69, 129, 69);
}

.false{
    background-color: rgb(133, 41, 41);
}